name: storageApp-client

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      S3_BUCKET_NAME: storage-app-frontend-ashraful
      CLOUDFRONT_DISTRIBUTION_ID: E10SARTVU09MM5
      VITE_GOOGLE_CLIENT_ID: 894244013404-shsv1ml0rgs7f5lqtgk6smksm6br8p0t.apps.googleusercontent.com
      VITE_BACKEND_BASE_URL: https://api.viralgut.com

    steps:
      - name: Clone frontend repository
        uses: actions/checkout@v4
        
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "23"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Build app
        run: npm run build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          
      - name: Upload to S3
        run: aws s3 sync dist/ "s3://${S3_BUCKET_NAME}/" --delete

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation \
            --distribution-id "$CLOUDFRONT_DISTRIBUTION_ID" \
            --paths "/index.html"

      - name: Deployment complete
        run: echo "Frontend Deployed Successfully..."